
.flex{
    display: flex;
}

*{
    margin: 0%;
    padding: 0%;
}

form>*{
    margin: 2% 0%;
}

.m-l{
    margin-left: .5%;
}

.principal{
    margin-left: 40%;
}

.titulo-1{
    text-align: center;
}

.texto{
    font-size: 1.2rem;
}